In [8]:
import pandas as pd

In [9]:
ratings = pd.read_csv('ratings.csv')

In [10]:
def classification(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    if 2 < rating <=4:
         return 'средний рейтинг'
    if rating >= 4.5:
         return 'высокий рейтинг'

In [27]:
ratings['class'] = ratings['rating'].apply(classification)
pd.concat([ratings.loc[ratings.rating == 1].head(1),ratings.loc[ratings.rating == 2].head(1),ratings.loc[ratings.rating == 3].head(1),ratings.loc[ratings.rating == 4].head(1),ratings.loc[ratings.rating == 5].head(1)])

     userId  movieId  rating  timestamp            class
205       1     3176     1.0  964983504   низкий рейтинг
76        1     1219     2.0  964983393   низкий рейтинг
5         1       70     3.0  964982400  средний рейтинг
0         1        1     4.0  964982703  средний рейтинг
3         1       47     5.0  964983815  высокий рейтинг

In [60]:
keywords = pd.read_csv('keywords.csv')

In [64]:
def find_city(keyword):
    import re
    geo_data = {'Центр': ['Москва', 'Тула', 'Ярославль'],
              'Северо-Запад': ['Петербург', 'Псков', 'Мурманск'],
              'Дальний Восток': ['Владивосток', 'Сахалин', 'Хабаровск']}
    for key, value in geo_data.items():
        for city in value:
            l = len(city)
            pattern = r'\b'+city[0:l-1]+r'\w*'
            if re.findall(pattern,keyword,flags=re.IGNORECASE) != []:
                    return key
    return 'Undefined'
        
keywords['region'] = keywords['keyword'].apply(find_city)
pd.concat([keywords.loc[keywords.region == 'Северо-Запад'].head(),keywords.loc[keywords.region == 'Центр'].head(),keywords.loc[keywords.region == 'Дальний Восток'].head(),keywords.loc[keywords.region == 'Undefined'].head()])

,keyword,shows,region
370,авито ру санкт петербург,425134,Северо-Запад
564,погода в санкт петербурге,292489,Северо-Запад
1236,банк санкт петербург,174375,Северо-Запад
1346,санкт петербург,144232,Северо-Запад
2121,электронный дневник санкт петербургского образ...,94835,Северо-Запад
127,авито москва,979292,Центр
143,эхо москвы,889657,Центр
197,погода в москве,745745,Центр
414,погода в москве на 14 дней,400914,Центр
512,карта метро москвы,331857,Центр
1063,фарпост владивосток,176951,Дальний Восток
2175,дром хабаровск,98361,Дальний Восток
3206,дром владивосток,73084,Дальний Восток
3275,100 сп владивосток,76418,Дальний Восток
3687,авито хабаровск,63736,Дальний Восток
0,вк,64292779,Undefined
1,одноклассники,63810309,Undefined
2,порно,41747114,Undefined
3,ютуб,39995567,Undefined
4,вконтакте,21014195,Undefined

In [88]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [89]:
def production_year(title):
    import re
    years = list(range(1950,2011))
    for value in years:
            pattern = r'('+str(value)+r')'
            if re.findall(pattern,title,flags=re.IGNORECASE) != []:
                    return value
    return '1900'
        
movies['year'] = movies['title'].apply(production_year)
movie_rates = ratings.merge(movies, on='movieId', how='left')
movie_rates.groupby(['year']).mean('rating').sort_values(['rating'], ascending=[False]).reset_index()[['year','rating']]

    year    rating
0   1957  4.039535
1   1954  4.009191
2   1962  3.969466
3   1952  3.953125
4   1972  3.944293
..   ...       ...
57  2000  3.398922
58  2005  3.359976
59  1992  3.353555
60  1997  3.347241
61  1996  3.335329

[62 rows x 2 columns]